@model Employee
@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>
<partial name="_EmpCard" />

<a href="/Employee/Index">Back To List</a>
<a href="/Employee/Edit/@Model.Id">Edit</a>
@* <h2>@Model.Id</h2> 
<h2 style="color:@ViewBag.Color">@Model.Name</h2>
<h2>@ViewData["message"]</h2>
<h2>@(int.Parse(ViewData["Temp"].ToString())-10)</h2>

<select class="form form-control">
    @foreach (var item in (List<string>)ViewData["brch"])
    {
        <option>@item</option>
    }
</select> *@


